@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}
button{
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.side-gradient-bg {
  position: absolute;
  overflow: hidden;
  right: 0px;
  border-radius: 50%;
  height: 200vh;
  filter: blur(50px);
}
.dark-gradient-bg {
  position: absolute;
  overflow: hidden;
  left: -150px;
  top: -150px;
  rotate: 30deg;
  border-radius: 20%;
  height: 100vh;
  filter: blur(50px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}
.rsc-container {
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  gap: 30px;
  height: 50vh !important;
  min-height: 80vh;
}
.rsc-content {
  overflow-y: auto !important;
  border: 2px solid #da8e23;
  border-radius: 8px !important;
  background: #171b1b !important ;
  height: 100% !important;
  padding-top: 37px !important;
}
.rsc-footer {
  width: 100%;
  bottom: 0;
  border-radius: 10px !important;
  background: #171b1b !important;
  padding: 1px;
}
.rsc-os-options {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-inline: 50px !important;
}
.rsc-os-options li {
  width: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.rsc-os-options li button {
  width: 100%;
  border-radius: 8px !important;
}
.rsc-input {
  background: transparent !important;
  border:  1px solid #da8e23 !important;
  border-radius: 10px !important;
  width: fit-content;
  color: white;
  height: 100%;
  width: 80%;
  min-height: 50px !important;
}
.rsc-cs {
  background: #171b1b !important ;
  justify-content: start !important;
  padding-left: 4em !important;
}
@media (max-width: 768px) {
  .rsc-os-options li button {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .rsc-os-options {
    width: 60% !important;
  }
}
@media (min-width: 990px) {
  .rsc-os-options {
    width: 60% !important;
  }
}
